.businesscard {
  position: relative;
  flex-shrink: 0;
  width: 380px;
  aspect-ratio: 1.75 / 1;
  font-size: 16px;
  background-color: white;
  border: 1px solid black;
  margin-right: 20px;
  margin-top: 20px;
  box-shadow: rgb(170, 170, 170) 4px 4px;
}

td.lblSkill {
  font-weight: bold;
}

img.star {
  width: 24px;
}

@media (max-width: 640.98px) {
  .businesscard {
    width: 320px;
  }

  td.lblSkill {
    font-size: small;
  }

  img.star {
    width: 18px;
  }
}
