a.privacy {
  cursor: pointer;
  display: table-cell;
  width: fit-content;
}

/* Mobile view */
@media (max-width: 640.98px) {
  a.hide-mobile {
    pointer-events: none;
    display: none;
  }
}

/* Screen view */
@media (min-width: 641px) {
}
